<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    {%block head%}
      <title>Rocketseat</title>
    {% endblock %}  
</head>
<body>
    <header>
        <div class="menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li> <a href="https://discordapp.com/invite/gCRAFhc">Comunidade</a></li>
                <li> <a href="mailto:marcos.sor@gmail.com">E-mail</a> </li>
                <li><a href="tel:5515996870726">Telefone</a></li>
                <li><a href="/sobre">Sobre</a></li>
                <li><a href="/conteudo">Conteúdo</a></li>
            </ul>
        </div>
    </header>

    {% block content %}
    {% endblock %}

</body>
</html>