{%extends "layout.njk"%}

{% block content%}
   <div class="error">
       <span class="material-icons"> error </span>
       <h4>Page not found</h4>
      <p><a href="/">Click here</a> to back home</p>
   </div>
{% endblock %}