{% extends "layout.njk"%}

{% block content%}
    <section>
        <div class="img-rocket">
            <img src="/RocketSeat.png" alt="">
            
        </div>
        <div class="white"> 
            <div class="box"></div>
        </div>
        <div class="about">
            <h3>As melhores tecnologias em programação, direto ao ponto e do jeito certo.</h3>  
            <p> No meio de tanta informação e da quantidade de ferramentas que surgem todos os dias, 
                você precisa de alguém que te leve na direção certa.</p>
           <h3> As mesmas tecnologias utilizadas por empresas como:</h3> 
            <p> Nubank, Netflix, Uber, Instagram e Airbnb
                Imagine você dominando as mesmas tecnologias adotadas pelos melhores times do mundo, 
                construindo aplicações de alta performance e se destacando entre os maiores programadores.</p>
        </div>
     
    </section>
{%endblock%}